/* 
===============
GLOBAL
===============
*/
body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#222222+0,80cbc4  +100 */
  background: #222222;
  /* Old browsers */
  background: -moz-linear-gradient(160deg, #222222 65%, #80cbc4 65%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(160deg, #222222 65%, #80cbc4 65%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(160deg, #222222 65%, #80cbc4 65%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#80cbc4  ', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-attachment: fixed;
  color: #fff;
}

h1 {
  margin-top: 0;
  text-transform: uppercase;
}

.heading {
  color: #555555;
  text-transform: none;
  font-family: "Satisfy", cursive;
}

.heading::first-letter {
  font-size: 1.7em;
}

/* 
===============
NAVBAR
===============
*/
nav {
  background: none;
  box-shadow: none;
}

.material-icons {
  margin-left: 10px;
  color: #9e9e9e;
}

.material-icons:hover {
  color: #fff;
}

.route {
  display: inline;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 3px;
  content: "[";
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a:hover {
  color: #fff;
}

.cl-effect-1 a::after {
  margin-left: 3px;
  content: "]";
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/* 
===============
home.html 
===============
*/

.tagline {
  animation-delay: 1s;
}

.links {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  animation-delay: 1.5s;
}

.links a {
  color: #9e9e9e;
}

.links a:hover {
  background: none;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  top: 45%;
  left: 50%;
  background: none;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-title .thin {
  font-weight: 200;
}

/* 
===============
FLIP CARDS
===============
*/
.flip-card {
  background-color: transparent;
  margin: 0 auto 0.5em auto;
  height: 350px;
  border: 2px solid #fff;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #ccc;
  color: #222222;
}

/* style the back side */
.flip-card-back {
  background-color: #80cbc4;
  color: #222222;
  transform: rotateY(180deg);
}

.button-div .btn-effect-1 {
  margin-top: 1rem;
}

/* 
===============
BUTTONS
===============
*/
.btn-effect-1 {
  color: #fff;
  padding: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn-effect-1 span {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-effect-1 a {
  color: #222222;
  text-decoration: none;
  display: block;
}

.btn-effect-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(0.1, 1);
  transform: scale(0.1, 1);
}

.btn-effect-1:hover span {
  letter-spacing: 2px;
}

.btn-effect-1:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.btn-effect-1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.25);
}

.btn-effect-1:hover::after {
  opacity: 0;
  -webkit-transform: scale(0.1, 1);
  transform: scale(0.1, 1);
}
