/* 
===============
GLOBAL
===============
*/
body {
  background-color: #071d5a;
  color: #fff;
}

h1 {
  margin-top: 0;
  text-transform: uppercase;
}

a {
  color: #fff;
}

a:hover {
  color: #999999;
}

.heading {
  text-transform: none;
  font-family: "Satisfy", cursive;
}

.heading::first-letter {
  font-size: 1.7em;
}

.thin {
  font-weight: 200;
}

.bottomBorder {
  text-transform: lowercase;
  border-bottom: 2px solid #00897b;
  padding: 2px;
}

/* 
===============
NAVBAR
===============
*/
nav {
  background: #071d5a;
  box-shadow: none;
}

nav .material-icons {
  margin-left: 10px;
  color: #fff;
}

nav .material-icons:hover {
  color: #80cbc4;
}

.route {
  display: inline;
}


.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 2px;
  content: "<";
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a:hover {
  color: #fff;
}

.cl-effect-1 a::after {
  margin-left: 2px;
  content: "/>";
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/* 
===============
home.html 
===============
*/

.tagline {
  animation-delay: 1s;
}

.links {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  animation-delay: 1.5s;
}

.links a {
  color: #fff;
}

.links a:hover {
  background: none;
  color: #80cbc4;
}

.links .selected {
  color: #80cbc4;
  font-weight: 500;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  top: 45%;
  left: 50%;
  background: none;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* 
===============
projects.html 
===============
*/
.flip-card {
  background-color: transparent;
  height: 350px;
  width: 100%;
  border: 2px solid #fff;
  overflow: hidden;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.card-image {
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.card-image:hover {
  opacity: 1;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #000;
  color: #222222;
}

/* style the back side */
.flip-card-back {
  background-color: #80cbc4;
  color: #222222;
  transform: rotateY(180deg);
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.caption .title {
  font-size: 1.5em;
}

.grow {
  transition: all 0.3s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

/* 
===============
contact.html 
===============
*/
#contactInfo {
  margin-top: 7%;
}

#contactInfo .btn-large {
  box-shadow: none;
}

#contactInfo a {
  width: 100px;
  height: 100px;
  margin: 1rem;
}

#contactInfo i {
  font-size: 3em;
  line-height: 100px;
}

table {
  width: 100%;
}

td {
  width: 20%;
  font-size: 0.9em;
}

table tr {
  text-transform: uppercase;
  border: none;
  box-shadow: none;
}

th,
td {
  padding: 0px 0px 5px 0px !important;
  letter-spacing: 1px;
}

th a:hover {
  opacity: 0.9;
}

.contactText {
  font-size: 1.5em;
}