/* 
===============
GLOBAL
===============
*/
body {
  background-color: #111;
  color: #999999;
}

h1 {
  margin-top: 0;
  text-transform: uppercase;
}

a {
  color: #fff;
}

a:hover {
  color: #999999;
}

.heading {
  text-transform: none;
  font-family: "Satisfy", cursive;
}

.heading::first-letter {
  font-size: 1.7em;
}

.thin {
  font-weight: 200;
}

.lowercase {
  text-transform: lowercase;
}

.bottomBorder {
  text-transform: lowercase;
  border-bottom: 2px solid #1565c0;
  padding: 2px;
}

.underline {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

.underline:after {
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0px;
  height: 2px;
  width: 0%;
  background-color: #1565c0;
  animation: underline 1s ease 2s;
  animation-fill-mode: forwards;
  /* remove infinite if you want only once */
}

@keyframes underline {
  to {
    width: 100%;
  }
}


/* 
===============
NAVBAR
===============
*/
nav {
  background: #111;
  box-shadow: none;
}

nav a {
  margin-left: 1.5em;
  color: #9e9e9e;
}

nav a:hover {
  color: #1565c0;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.95);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #fff;
  transition: .3s;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  color: #fff;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 2px;
  content: "<";
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a::after {
  margin-left: 2px;
  content: "/>";
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  color: #1565c0;
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay .closebtn:hover {
  color: #1565c0;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* 
===============
home.html 
===============
*/

.tagline {
  animation-delay: 1s;
}

.links {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  animation-delay: 1.5s;
}

.links a {
  color: #fff;
}

.links a:hover {
  background: none;
  color: #80cbc4;
}

.links .selected {
  color: #80cbc4;
  font-weight: 500;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  top: 45%;
  left: 50%;
  background: none;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #1565c0;
}

.github {
  background: #24292E;
  color: white;
  width: 100%;
}

.github:hover {
  width: 150%;
  transition: .5s;
}

.linkedin {
  background: #007bb5;
  color: white;
  width: 100%;
}

.linkedin:hover {
  width: 150%;
  transition: .5s;
}

/* 
===============
projects.html 
===============
*/
.flip-card {
  background-color: transparent;
  height: 350px;
  width: 100%;
  border: 2px solid #fff;
  overflow: hidden;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.card-image {
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.card-image:hover {
  opacity: 1;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #000;
  color: #222222;
}

/* style the back side */
.flip-card-back {
  background-color: #80cbc4;
  color: #222222;
  transform: rotateY(180deg);
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.caption .title {
  font-size: 1.5em;
}

.grow {
  transition: all 0.3s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

/* 
===============
contact.html 
===============
*/
#contactInfo {
  margin-top: 7%;
}

#contactInfo .btn-large {
  box-shadow: none;
}

#contactInfo a {
  width: 100px;
  height: 100px;
  margin: 1rem;
}

#contactInfo i {
  font-size: 3em;
  line-height: 100px;
}

#contact section {
  margin-top: 3em;
}

#contact section div {
  margin-top: 1.5em;
}

#contact section h4 {
  text-transform: uppercase;
  font-size: 1.7em;
}

#contact section h5 {
  font-size: 1.2em;
}

#contact section i {
  font-size: 4em;
}

table {
  width: 100%;
}

td {
  font-size: 0.9em;
}

table tr {
  text-transform: uppercase;
  border: none;
  box-shadow: none;
}

th,
td {
  padding: 0px 0px 5px 0px !important;
  letter-spacing: 1px;
}

th a:hover {
  opacity: 0.9;
}

.contactText {
  font-size: 1.5em;
}